//- 漢堡選單
mixin nav(link, page, img, alt)
    a(href=link)
        img(src="imgs/"+img+".svg", alt=alt)
        h6=page

mixin course(img, title, text)
    div
        img(src="imgs/"+img+".png", alt="示意圖")
        div(class="text")
            span=title
            p=text

<!DOCTYPE html>
html(lang="zh")
    head
        meta(charset="UTF-8")(name="viewport")(content="width=device-width, initial-scale=1.0, user-scalable=no")
        
        title 林雨潔貓咪中途之家 | 關於雨潔
        link(rel="stylesheet", href="style.css")

        //- 導覽列 漢堡選單的
        input(type="checkbox" id="burger")
        div(class="burger")
            +nav("about.html","關於雨潔","icon1","icon1")
            +nav("#","愛心認養","icon2","icon2")
            +nav("#","幸福分享","icon3","icon3")
            +nav("#","支持雨潔","icon4","icon4")
            +nav("#","聯絡我們","icon5","icon5")
            a(href="#" class="x") &#10005
    body
        //- 背景的框框們 + 導覽列 顯示的
        include bg.html
        
        span(class="pgname") 關於雨潔

        section(id="course")
            +course("about01", "體驗一次不當林雨潔", "我跟你們說一個小故事，前兩個禮拜，我去屏東夜市吃飯，回家的路上，經過夜市的小巷子，我聽到貓的哭聲，沒看到貓，但因為中途之家的貓太多了，也有一些貓要排隊進中途之家，我都還沒接，所以我故意忽略那聲音，就騎車走了，回家的路上，我一整個難過，我想，原來一次不當林雨潔，一次選擇不做林雨潔會做的事情，我會這麼難過，因為這樣的行為本身就是違背了自己的心。")
            +course("about01", "體驗一次不當林雨潔", "我跟你們說一個小故事，前兩個禮拜，我去屏東夜市吃飯，回家的路上，經過夜市的小巷子，我聽到貓的哭聲，沒看到貓，但因為中途之家的貓太多了，也有一些貓要排隊進中途之家，我都還沒接，所以我故意忽略那聲音，就騎車走了，回家的路上，我一整個難過，我想，原來一次不當林雨潔，一次選擇不做林雨潔會做的事情，我會這麼難過，因為這樣的行為本身就是違背了自己的心。")
            +course("about01", "體驗一次不當林雨潔", "我跟你們說一個小故事，前兩個禮拜，我去屏東夜市吃飯，回家的路上，經過夜市的小巷子，我聽到貓的哭聲，沒看到貓，但因為中途之家的貓太多了，也有一些貓要排隊進中途之家，我都還沒接，所以我故意忽略那聲音，就騎車走了，回家的路上，我一整個難過，我想，原來一次不當林雨潔，一次選擇不做林雨潔會做的事情，我會這麼難過，因為這樣的行為本身就是違背了自己的心。")
            +course("about01", "體驗一次不當林雨潔", "我跟你們說一個小故事，前兩個禮拜，我去屏東夜市吃飯，回家的路上，經過夜市的小巷子，我聽到貓的哭聲，沒看到貓，但因為中途之家的貓太多了，也有一些貓要排隊進中途之家，我都還沒接，所以我故意忽略那聲音，就騎車走了，回家的路上，我一整個難過，我想，原來一次不當林雨潔，一次選擇不做林雨潔會做的事情，我會這麼難過，因為這樣的行為本身就是違背了自己的心。")
